@charset "utf-8";
/*  i card CSS Document */

#maincard{
	margin-top:50px;
	width:100%;
	height:100%;
}

#card{
		width:40%;
		margin:auto;
		border-radius:50px;
		
		-webkit-box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 3px 28px 0px rgba(0,0,0,0.75);
	}
	
	#card #i-top{
		width:100%;
		height:225px;
		border-radius:50px 50px 0px 0px;
	}
	
	#card #i-top #i-name{
		padding:40px;
		color: #9B2727;
		font-size: 60px;
		font-weight: bolder;
			
	}
	
	
	#card #i-info{
		height:166px;;
		background:#9B2727;
	}
	
	#card #i-info input{
		width: 99.5%;
		height: 30px;
		margin-bottom:10px;
		text-align: center;
		font-size: 28px;
		color: #9B2727;
	} 
	
	#card #i-info input[type="submit"]{
		width: 30%;
		height: 36px;
		font-size: 25px;
		border-radius:5px;
	}
	
	#card #i-info #i-photo{
		height: 150px;
		width:150px;
		border: 2px solid #9B2727;
		border-radius: 40px;
		margin-top:-75px;
			
	}
	
	#card #i-bottom #fbicon{
		border-radius: 5px;
		width: 50px;
		margin-top: 5px;
		margin-left: 45px;
	}
	
	#card #i-bottom #hicon{
		border-radius: 5px;
		width: 52px;
		margin-top: 5px;
		margin-left: 60px;
	}
	
	
	#card #i-bottom #twicon{
		border-radius: 5px;
		width: 52px;
		margin-top: 5px;
		margin-left: 84px;
	}
	
	#card #i-bottom #wicon{
		border-radius: 5px;
		width: 50px;
		margin-top: 5px;
		margin-left: 80px;
	}